asgiref==3.7.2
Brotli==1.0.9
cffi==1.15.1
cssselect2==0.7.0
Django==4.2.3
fonttools==4.41.0
html5lib==1.1
mccabe==0.7.0
Pillow==10.0.0
pycodestyle==2.10.0
pycparser==2.21
pydocstyle==6.3.0
pydyf==0.7.0
pyflakes==3.0.1
pylama==8.4.1
pyphen==0.14.0
six==1.16.0
snowballstemmer==2.2.0
sqlparse==0.4.4
tinycss2==1.2.1
weasyprint==59.0
webencodings==0.5.1
zopfli==0.2.2
